<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include layouts/default-css-and-js.pug
        title Document
    body
        include layouts/header.pug
        .container
            if(image)
                form(action=`/edit-image/${image.fileName}`, method="post")
                    input(type="hidden", name="userText", id="userText")
                    input(type="hidden", name="pctX", id="pctX")
                    input(type="hidden", name="pctY", id="pctY")
                    input(type="hidden", name="originalImgName", id="originalImgName", value=`${image.fileName}`)
                    input(type="hidden", name="fontChosen", id="fontChosen")
                    div.row
                        div.col-md-3.text-center
                            h1 Fontes
                            if(fonts)
                                each font in fonts
                                    p(style=`font-family:${font.fontName}`, class="font", id=`${font.fontName}`) FONTE
                                label Tamanho da Fonte
                                select.form-control(name="fontSize", id="fontSize")
                                    option(value="18") 18
                                    option(value="24") 24
                                    option(value="36") 36
                                    option(value="48") 48
                                    option(value="60") 60
                        div.col-md-6
                            div#img-container
                                h1(style="display:none;", id="hiddenUserText", class="draggable text-edit") Dois cliques para editar esse texto
                                img.card-img-top(src=`/images/${image.fileName}`)
                            .card-body
                                h5.card-title Card title
                                p.card-text
                                    | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                                button.btn.btn-primary(type="submit", id="save") Salvar
            else
                div.alert.alert-warning Nenhuma imagem encontrada
    script(type="text/javascript" src="/js/draggin.min.js")
    script.
        $(".font").on('click', (event) => {
            $("#hiddenUserText").show();
            $("#hiddenUserText").css('font-family', event.target.id);
            $("#hiddenUserText").css('font-size', $("#fontSize").val() + "px");
        });

        $("#save").on('click', () =>{
            $("#userText").val($("#hiddenUserText").text());
            $("#fontChosen").val($("#hiddenUserText").css('font-family'));
            calcImgSizeInPct();
        });

        /*
        * Pega a proporção da imagem em porcentagem. 
        */
        function calcImgSizeInPct(){
            let heigth = $("#img-container").height();
            let width = $("#img-container").width();
            let positionText = $("#hiddenUserText").position();
            let pctPosY = Math.round((positionText.top / heigth) * 100);
            let pctPosX = Math.round((positionText.left / width) * 100);
            $("#pctY").val(pctPosY);
            $("#pctX").val(pctPosX);
        }


