<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imagem Para Status</title>
    include layouts/default-css-and-js.pug
    include layouts/facebookSDK.pug
    script(src="/js/clipboard.min.js")
</head>

<body>
    header
        include layouts/header.pug
    .container
        .row(class="margin-top-1pct")
            .col-md-9
                .text-center.border.rounded(class="margin-bottom-1pct"): h1.text-white= header
                if(images.length >= 1)
                    each image in images
                        div.card(class="margin-bottom-1pct"): div.card-body
                            p.blockquote
                                img(src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid")
                            .row
                                .col-md-8
                                    p(class="card-text" id=`frase-${image.id}`) #{image.phrase}
                                .col-md-4
                                    ul(class="list-group list-group-horizontal")
                                        li.list-inline-item
                                            button(class="btn btn-sm hover-white", style="background-color: #25D366" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Whatsapp"): span
                                                <i class="fab fa-whatsapp"></i>
                                        li.list-inline-item
                                                button(class="btn btn-sm hover-white", style="background-color: #3b5999" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Facebook"): span
                                                    <i class="fab fa-facebook"></i>
                                        li.list-inline-item
                                            button(class="btn btn-sm hover-white", style="background-color: #bd081c" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Pinterest"): span
                                                <i class="fab fa-pinterest"></i>
                                        li.list-inline-item
                                            button(class="btn btn-sm bg-azul-2 copyToClipBoard hover-white", data-clipboard-target=`#frase-${image.id}`, data-toggle="tooltip", data-placement="bottom", title="Copiar frase")
                                                span
                                                    <i class="fas fa-copy"></i>
                            <br>
                            <p class="card-text"> Categoria: #{image.category} </p>
                else
                    div.alert.alert-warning Nenhuma imagem encontrada.
            .col-md-3
                if(categories)
                    <ul class="list-group">
                        li.list-group-item.bg-azul-2.text-white.text-center Categorias
                        for category in categories
                            li.list-group-item: a(href=`/${category.category}`) #{category.category} 
                    </ul>
        .row(class="margin-top-1pct")
            .offset-md-4
                <nav>
                    <ul class="pagination">
                        - var categoryPageRouting = '';
                        - var phraseQuery = '';
                        if(categoryPagination != undefined && categoryPagination != '')
                            - var categoryPageRouting = '/' + categoryPagination;
                        if(phrase != undefined && phrase != '')
                            - var phraseQuery = '?phrase=' + phrase;
                        - for(var i = 1; i <= numberOfPages; i++) {
                            li(class="page-item") 
                                a(class="page-link" href=`${categoryPageRouting}/page/${i}${phraseQuery}`) #{i}
                        - }
                    </ul>
                </nav>
    include layouts/footer.pug
</body>
script.
    new ClipboardJS('.copyToClipBoard');
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.copyToClipBoard').on('click', function() {
            $(this).tooltip('hide');
            $(this).attr('data-original-title', 'Frase copiada! :)');
            $(this).tooltip('show');
        });
    });
</html>