<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="google-site-verification" content="kTwj78wU3R213eGU9-WNxlu6US_diikzFl_aP78IH7o" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imagens Para Status - Diversas imagens pra você compartilhar :D</title>
    script(src="/js/popper.js")
    include layouts/default-css.pug
</head>

<body>
    header
        include layouts/header.pug
    .container: .row(class="margin-top-1pct")
        .col-md-9
            .text-center.border.rounded(class="margin-bottom-1pct"): h1.text-white= header
            if(images.length >= 1)
                each image in images
                    div.card(class="margin-bottom-1pct"): div.card-body
                        p.blockquote
                            a(href=`/image/${image.fileName}`): img(data-src=`/images/original-images/${image.fileName}`, src="", alt=`${image.phrase}`, class="img-fluid lazy", title=`${image.phrase}`)
                        .row
                            .col-md-8
                                p(class="card-text" id=`frase-${image.id}`) #{image.phrase}
                            .col-md-4
                                ul(class="list-group list-group-horizontal")
                                    li.list-inline-item
                                        button(class="btn btn-sm hover-white", style="background-color: #25D366" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Whatsapp"): span
                                            <i class="fab fa-whatsapp"></i>
                                    li.list-inline-item
                                        button(class="btn btn-sm hover-white share-fb", style="background-color: #3b5999" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Facebook", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('localhost:9090'),'facebook-share-dialog','width=626, height=436'); return false;"): span
                                            <i class="fab fa-facebook"></i>
                                    li.list-inline-item
                                        button(class="btn btn-sm hover-white", style="background-color: #bd081c" data-toggle="tooltip", data-placement="bottom", title="Compartilhar no Pinterest"): span
                                            <i class="fab fa-pinterest"></i>
                                    li.list-inline-item
                                        button(class="btn btn-sm bg-azul-2 copyToClipBoard hover-white", data-clipboard-target=`#frase-${image.id}`, data-toggle="tooltip", data-placement="bottom", title="Copiar frase")
                                            span
                                                <i class="fas fa-copy"></i>
                                    li.list-inline-item
                                        a(class="btn btn-sm bg-azul-2 hover-white", data-toggle="tooltip", data-placement="bottom", title="Baixar imagem" href=`/images/original-images/${image.fileName}` download=`${image.phrase.slice(0,30)}.jpg`)
                                            span
                                                <i class="fas fa-download"></i>
                        <br>
                        <p class="card-text"> Categoria: #{image.category} </p>
            else
                div.alert.alert-warning Nenhuma imagem encontrada.
            .row.margin-top-1pct
                .offset-md-4.col-md-4
                    <nav>
                        <ul class="pagination" id="paginationBar">
                        </ul>
                    </nav>
        .col-md-3
            if(categories)
                <ul class="list-group">
                    li.list-group-item.bg-azul-2.text-white.text-center Categorias
                    for category in categories
                        li.list-group-item: a(href=`/${category.category}`) #{category.category} 
                </ul>
        <a href="javascript:" class="btn btn-sm bg-azul-2 hover-white" id="backToTop" onclick="returnToTop()" title="Voltar para o topo">
            <i class="fas fa-arrow-up"></i>
        </a>
    include layouts/footer.pug
</body>
include layouts/default-js.pug
include layouts/facebookSDK.pug
script(src="/js/clipboard.min.js")
script(src="/js/jquery.lazy.min.js")
script(src="/js/jquery.lazy.plugins.min.js")
script.
    function returnToTop(){
        $('body,html').animate({
            scrollTop : 0
        }, 500);
    }
    function renderPaginationBar(){
        let intervalPages = 3;
        let category = "#{categoryPagination}";
        if(!category){
            category = '';
        }
        let phrase = "#{phrase}";
        if(phrase){
            phrase = '?phrase=' + phrase;
        }
        let currentPage = parseInt("#{currentPage}");
        let numberOfPages = parseInt("#{numberOfPages}");
        if(currentPage != undefined){
            var startPage = currentPage - intervalPages;
            var endPage = currentPage + intervalPages;
        }
        if(startPage <= 0) {
            endPage = endPage - (startPage - 1);
            startPage = 1;
        }
        if(endPage > numberOfPages){
            endPage = numberOfPages;
        }
        for(var iterator = startPage; iterator <= endPage; iterator++){
            $("#paginationBar").append(`
                <li class="page-item"> 
                    <a class="page-link" href=${category}/page/${iterator}${phrase}> ${iterator} </a>
                </li>`
            );
        }
    }
    new ClipboardJS('.copyToClipBoard');
    $(function () {
        renderPaginationBar();
        $('.lazy').lazy({
            effect: "fadeIn",
            effectTime: 2000,
            threshold: 0,
            beforeLoad: function(element){
                $(element).attr('src', '');
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
        $('.copyToClipBoard').on('click', function() {
            $(this).tooltip('hide');
            $(this).attr('data-original-title', 'Frase copiada! :)');
            $(this).tooltip('show');
        });
    });
</html>