<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imagem Para Status</title>
    style(type="text/css").
        a:hover { 
            background-color: yellow;
        }
    include layouts/default-css-and-js.pug
    script(src="/js/clipboard.min.js")
    
</head>

<body>
    header
        include layouts/header.pug
    if(images.length >= 1)
        .container-fluid
            h1= header
            .row
                .offset-md-1.col-md-7
                    each image in images
                        div.card
                            div.card-body
                                p.blockquote
                                    img(src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid")
                                p(class="card-text" id="frase") #{image.phrase}
                                button(class="btn btn-primary", id="copyToClipBoard", data-clipboard-target="#frase") Copiar
                                <p class="card-text"> Categoria: #{image.category} </p>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            - for(var i = 1; i <= numberOfPages; i++) {
                                <li class="page-item"><a class="page-link" href="/page/#{i}">#{i}</a></li>
                            - }
                        </ul>
                    </nav>
                .col-md-4
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Categorias </h3>
                        </div>
                        if(categories)
                            <ul class="list-group">
                                for category in categories
                                    a(href=`http://localhost:9090/${category.category}`, class="list-group-item") #{category.category} 
                            </ul>
                    </div>
    else
        div.alert.alert-warning Nenhuma imagem encontrada.
</body>
script.
    new ClipboardJS('#copyToClipBoard');
</html>