<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="p:domain_verify" content="b950212c0b6d3ffc3bc50d3ff579bea3"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134144408-3"></script>
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-134144408-3');
    <meta name="google-site-verification" content="kTwj78wU3R213eGU9-WNxlu6US_diikzFl_aP78IH7o" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    meta(name="description" content=`${metaDescription}`)
    include layouts/title.pug
    include layouts/default-css.pug
    //- include layouts/facebookOG.pug
</head>

<body>
    header
        include layouts/navbar-header
    .container: .row(class="margin-top-1pct")
        .col-md-9
            .text-center(class="margin-bottom-1pct"): h1.azul-2= header
            if(images.length >= 1)
                if(categoryPagination)
                    p #{categoryDescription}
                each image in images
                    div.card(class="margin-bottom-1pct shadow"): div.card-body
                        p.blockquote
                            a(href=`/image/${image.fileName}`): img(src="/loading.gif", data-src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid lazy", title=`${image.phrase}`)
                        .row
                            .col-md-8
                                p(class="card-text" id=`frase-${image.id}`) #{image.phrase}
                            .col-md-4
                                include layouts/share-buttons.pug
                        <br>
                        <p class="card-text"> Categoria: #{image.category} </p>
            else
                div.alert.alert-warning Nenhuma imagem encontrada.
            .row.margin-top-1pct
                .offset-md-4.col-md-4
                    if(paginationNumbers && paginationNumbers.pages.length >= 1)
                        nav
                            if !categoryPagination
                                - categoryPagination = '';
                            else
                                - categoryPagination = '/' + categoryPagination;
                            if !phrase
                                - phrase = '';
                            else
                                - phrase = '?phrase=' + phrase
                            ul.pagination
                                if paginationNumbers.pages.length > 1 && paginationNumbers.prevPage
                                    li.page-item: a.page-link(href=`${categoryPagination}/page/${paginationNumbers.prevPage}${phrase}` rel='prev'): <i class="fas fa-backward"></i>
                                each val in paginationNumbers.pages
                                    li.page-item
                                        a.page-link(href=`${categoryPagination}/page/${val}${phrase}`)= val
                                if paginationNumbers.pages.length > 1 && paginationNumbers.nextPage
                                    li.page-item: a.page-link(href=`/${categoryPagination}/page/${paginationNumbers.nextPage}${phrase}` rel='next'): <i class="fas fa-forward"></i>
        .col-md-3
            include layouts/categories.pug
        <a href="javascript:" class="btn btn bg-azul-2 hover-white" id="backToTop" onclick="returnToTop()" title="Voltar para o topo">
            <i class="fas fa-arrow-up"></i>
        </a>
    include layouts/footer.pug
</body>

script.
    function returnToTop(){
        $('body,html').animate({
            scrollTop : 0
        }, 500);
    }
    new ClipboardJS('.copyToClipBoard');
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.copyToClipBoard').on('click', function() {
            $(this).tooltip('hide');
            $(this).attr('data-original-title', 'Frase copiada! :)');
            $(this).tooltip('show');
        });
    });
</html>