<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imagem Para Status</title>
    include layouts/default-css-and-js.pug
    style(type="text/css").
        .row-space-top { margin-top:1%}
    script(src="/js/clipboard.min.js")
</head>

<body>
    header
        include layouts/header.pug
    .container-fluid
        .row(class="row-space-top")
            .offset-md-1.col-md-7
                .text-center.border.rounded(style="margin-bottom:1%")
                    h1= header
                if(images.length >= 1)
                    each image in images
                        div.card(style="margin-bottom:1%")
                            div.card-body
                                p.blockquote
                                    img(src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid")
                                .row
                                    .col-md-8
                                        p(class="card-text" id="frase") #{image.phrase}
                                    .col-md-4
                                        button(class="btn btn-primary", id="copyToClipBoard", data-clipboard-target="#frase", title="Copiar frase.") <i class="fas fa-copy"></i>
                                <p class="card-text"> Categoria: #{image.category} </p>
                else
                    div.alert.alert-warning Nenhuma imagem encontrada.
            .col-md-4
                <div class="panel panel-primary border rounded">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"> Categorias </h3>
                    </div>
                    if(categories)
                        <ul class="list-group list-group-flush">
                            for category in categories
                                a(href=`http://localhost:9090/${category.category}`, class="list-group-item") #{category.category} 
                        </ul>
                </div>
        .row(class="row-space-top")
            .offset-md-4
                <nav>
                    <ul class="pagination">
                        li(class="page-item") 
                            a(class="page-link" href='/page/1') 1
                        - var categoryPageRouting = '';
                        if(categoryPagination != undefined)
                            - var categoryPageRouting = '/' + categoryPagination;
                        - for(var i = 1; i <= numberOfPages; i++) {
                            li(class="page-item") 
                                a(class="page-link" href=`${categoryPageRouting}/page/${i+1}`) #{i+1}
                        - }
                    </ul>
                </nav>
    
</body>
    include layouts/footer.pug
script.
    new ClipboardJS('#copyToClipBoard');
</html>