<!DOCTYPE html>
html(lang="pt-br")
    head
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134144408-3"></script>
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-134144408-3');
        <meta name="google-site-verification" content="kTwj78wU3R213eGU9-WNxlu6US_diikzFl_aP78IH7o" />
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content=`${metaDescription}`)
        include layouts/title.pug
        include layouts/default-css.pug
        include layouts/facebookOG.pug
    body
        header
            include layouts/navbar-header
        .container
            .row(class="margin-top-1pct")
                .col-md-9
                    .text-center.border.rounded(class="margin-bottom-1pct"): h1.text-white= header
                    if(images.length >= 1)
                        each image in images
                            div.card(class="margin-bottom-1pct"): div.card-body
                                p.blockquote
                                    a(href="" data-toggle="modal" data-target=".bd-example-modal-lg"): img(src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid lazy", title=`${image.phrase}`)
                                .row
                                    .col-md-8
                                        p(class="card-text" id=`frase-${image.id}`) #{image.phrase}
                                    .col-md-4
                                        include layouts/share-buttons.pug
                                <br>
                                <p class="card-text"> Categoria: #{image.category} </p>
                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            img(src=`/images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid lazy", title=`${image.phrase}`)
                                        </div>
                                    </div>
                                </div>
                    else
                        div.alert.alert-warning Nenhuma imagem encontrada.
                .col-md-3
                    include layouts/categories.pug
            if(relatedImages.length >= 1)
                .row.margin-top-1pct
                    .col-md-9
                        h2.text-center.text-white.bg-azul-2 VEJA TAMBÉM
                        .row.margin-top-1pct
                            each relatedImage in relatedImages
                                .col-md-6
                                    div.card(class="margin-bottom-1pct"): div.card-body
                                        p.blockquote
                                            a(href=`/image/${relatedImage.fileName}`): img(src=`/images/original-images/${relatedImage.fileName}`, alt=`${relatedImage.phrase}`, class="img-fluid lazy", title=`${relatedImage.phrase}`)
                                        .row: .col-md-12
                                            p(class="card-text" id=`frase-${relatedImage.id}`) #{relatedImage.phrase}
                                        <br>
                                        <p class="card-text"> Categoria: #{relatedImage.category} </p>
        include layouts/footer.pug
        include layouts/facebookSDK.pug
        script(src="/js/clipboard.min.js")
        script.
            new ClipboardJS('.copyToClipBoard');
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('.copyToClipBoard').on('click', function() {
                    $(this).tooltip('hide');
                    $(this).attr('data-original-title', 'Frase copiada! :)');
                    $(this).tooltip('show');
                });
            });