html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagem Para Status
        include ../layouts/default-css-and-js.pug
    body
        header
            include ../layouts/header.pug
        .container
            if(message.success)
                p.bg-success #{message.message}
            else
                p.bg-danger #{message.message}
            if(images)
                .row
                    each image in images
                        .col-md-4
                            <div class="card">
                                img(src=`../images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-thumbnail card-img-top")
                                <div class="card-body">
                                    <p class="card-text"> #{image.phrase} </p>
                                    <p class="card-text"> Categoria: #{image.category} </p>
                                </div>
                                a(href=`http://localhost:9090/admin/remove-image?fileName=${image.fileName}`, class="btn btn-danger") Remover
                            </div>
    script. 
        console.log("#{message.message}");