<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagem Para Status
        include ../layouts/default-css.pug
    body
        header
            include ../layouts/navbar-header
        .container
            if(message)
                div.alert.alert-success #{message}
            h1.text-center.azul-2 Dashboard
            .row
                .col-md-4
                    a(href=`/admin/images?token=${token}`, class="btn btn-primary") Imagens
                .col-md-4
                    a(href=`/admin/upload-images?token=${token}` class="btn btn-primary") Upload Images
                .col-md-4
                    a(href=`/admin/categorias?token=${token}` class="btn btn-primary") Categorias
        include ../layouts/footer.pug
    script.
        window.localStorage.setItem('token', "#{token}");