html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagem Para Status
        include ../layouts/default-css-and-js.pug
    body
        header
            include ../layouts/header.pug
        .container
            if(message.success == 'true')
                p.alert.alert-success #{message.message}
            else if (message.success == 'false')
                p.alert.alert-danger #{message.message}
            if(images.length >= 1)
                .row
                    each image in images
                        .col-md-4
                            <div class="card">
                                img(src=`../images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-thumbnail card-img-top")
                                <div class="card-body">
                                    <p class="card-text"> #{image.phrase} </p>
                                    <p class="card-text"> Categoria: #{image.category} </p>
                                    a(href=`/admin/remove-image?fileName=${image.fileName}&token=${token}`, class="btn btn-danger") <i class="fas fa-trash-alt"></i>
                                    a(href=`/images/original-images/${image.fileName}`, class="btn bg-azul-2 hover-white" download=`${image.fileName}`) <i class="fas fa-download"></i>
                                </div>
                            </div>
            else
                div.alert.alert-warning Nenhuma imagem no banco de dados.
        include ../layouts/footer.pug