<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ../layouts/default-css.pug
        title Document
    body
        header
            include ../layouts/navbar-header
        .container
            h1 Upload de Imagens
            if(message != 'undefined')
                if(message.success == 'true')
                    div.alert.alert-success #{message.message}
                else if (message.success == 'false')
                    div.alert.alert-danger #{message.message}
            form(action="/admin/upload-images", method="post", enctype="multipart/form-data")
                input(type="hidden", name="token", value=`${token}`)
               
                .form-group
                    label(for="phrase") Frase
                    input(type="text", name="phrase", class="form-control",  required)
                .form-group
                    label(for="") Categoria (Nova categoria)
                    input(type="text", class="form-control", name="category")
                    .form-group
                        label(for="existentCategory") Categorias Existentes
                        select(name="existentCategory", class="form-control")
                            option(value="") Selecione
                            if(categories.length >= 1)
                                for category in categories
                                    option(value=`${category.category}`) #{category.category}
                .form-group
                    label(for="image") Upload de Imagem
                    input(type="file", name="image", class="form-control-file", required)
                button(type="submit", class="btn btn-primary", value="Upload") Enviar
        include ../layouts/footer.pug